/**********************************
COLORS
#96BE8C
#151515
#363537
#A63D40
#BA1F33
#E9B872
**********************************/

body {
  color: #151515;
  background-image: linear-gradient(#ffffff30, #ffffff30),
    url("germany-1454777_1280.jpg");
  background-size: cover;
  font-family: "Open Sans", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

.hide {
  display: none;
}

/***** HEADER *****/

.header {
  color: #ffffff;
  margin: 40px;
  margin-bottom: 80px;
  text-align: center;
}

.heading-primary {
  font-family: "Germania One", Arial, sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.intro {
  color: #bbbbbb;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

/***** GAME CONTENT *****/

form {
  font-size: 1rem;
  margin: 1.25rem 0;
}

a {
  color: #e9b872;
  font-size: 1.25rem;
}

a:hover {
  color: #e9b872;
  font-weight: 800;
  text-decoration: none;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  margin: 40px auto;
  max-width: 80%;
  padding: 1.5rem;
}

#start-btn {
  background-color: #e9b872;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
  font-weight: 800;
  padding: 10px 20px;
}

#question {
  font-size: 1.5rem;
}

#result {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  font-size: 2rem;
  margin: 40px auto;
  max-width: 80%;
  padding: 3rem;
  text-align: center;
}

/***** TIMER *****/

.time-container {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

#remaining-time {
  font-size: 1.5rem;
}
